:root {
  --menu-nav-text: #697CA6;
  --menu-nav-text-active: #5E81FE;
  --social-icon-active: #6188FF;
  --button-text: #3A79FF;
  --button-back: #D2E1FF;
  --headlines: #3D4F9F;
  --text: #8D96BD;
  --white: #fff;
  --plan-resourses-back: #F5F8FF;
  --plan-button-border: #D1D1E4;
  --plan-button-text: #ADB4D2;
  --plan-button-back-active: #4C85FF;
  --feauters-hedline: #4074F8;
  --feauters-description: #ADB3CB;
  --featers-item-line: #DAE4FE;
  --simple-button-active-red: #D43F3F;
  --simple-button-active-red-back: #FFD7D7;
  --simple-button-active: #fff;
  --simple-button-active-back: #4C85FF;
  --statistics-right-side-text: #5E80FF;
  --border: #D8E3FE;
  --resourses-slide-shadow: #EFF4FF;
  --add-to-bookmarks-button: #A6B6DA;
  --testimonials-text: #A4ABC8;
  --testimonials-background: #EAF0FF;
  --testimonials-slide-shadow: #F3F5FA;
  --testimonials-slide-border: #D8E3FE;
  --testimonials--review-text: #676F95;
  --spoiler-title: #8E96B7;
  --spoiler-buttom-text: #7382A3;
  --spoiler-button-background: #E8ECF4;
  --get-started-button: #C7D3FF;
  --get-started-button-active: #565F82;
  --registration-input-background: #EFEFF7;
  --registration-button-background: #4D6CE1;
  --copyright: #AEB8D0;
  --slide-arrow: #5E81FF;
}